.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 12px #9e9e9e;
  -webkit-box-flex: 1;
  display: flex;
  align-items: center;
  flex: 0.3 0.6 0.1;
  margin: 15px;
}

.todo-item {
  flex: 1;
}

.todo-item__message {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
}
.todo-item > p {
  color: grey;
  font-size: 0.8em;
}

.todo-item__sidebutton {
  display: none;
  justify-content: right;
}

.card:hover .todo-item__sidebutton {
  display: flex;
}

.timestamp {
  margin: 5px;
  font-size: 0.7em;
}

.add-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  max-width: 600px;
  color: #999;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  line-height: 2em;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
