<div class="card-container">
  <div class="card" *ngFor="let todoItem of todoItems | async">
    <div class="todo-item">
      <div *ngIf="!editMode" class="todo-item__message">
        <pre>{{ todoItem.message }}</pre>
      </div>
      <div *ngIf="editMode">
        <textarea #editmessage placeholder="Please enter a todo">{{
          todoItem.message
        }}</textarea
        ><br />
        <button
          type="submit"
          (click)="editTodoSubmit(todoItem, editmessage.value)"
        >
          Submit
        </button>
        <button type="reset" (click)="editButtonClick()">Cancel</button>
      </div>

      <p *ngIf="!editMode">
        {{ todoItem.timestamp.seconds * 1000 | date: "HH:mm:ss dd MMM yyyy" }}
      </p>
    </div>
    <div class="todo-item__sidebutton">
      <button mat-mini-fab color="warn" (click)="editButtonClick()">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    <div class="todo-item__sidebutton">
      <button mat-mini-fab color="warn" (click)="deleteButtonClick(todoItem)">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
</div>

<div>
  <button mat-fab color="primary" class="add-btn" (click)="createButtonClick()">
    <i class="fas fa-plus"></i>
  </button>
</div>
