.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 12px #9e9e9e;
  -webkit-box-flex: 1;
  display: flex;
  align-items: center;
  flex: 0.3 0.6 0.1;
  margin: 15px;
}

.alarm-item {
  flex: 1;
}

.alarm-item__message {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
}
.alarm-item > p {
  color: grey;
  font-size: 0.8em;
}

.alarm-item__sidebutton {
  display: none;
  justify-content: right;
}

.card:hover .alarm-item__sidebutton {
  display: flex;
}

.timestamp {
  margin: 5px;
  font-size: 0.7em;
}

.add-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
