<!-- Courtesy of: https://masoomulhaq.com/tutorials/alarm-clock-app-using-angular-part-1/ -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous"
/>
<form action="javascript:void(0)">
  <div class="form-group">
    <label for="alarmDay">Choose day</label>
    <input
      type="date"
      id="alarmDay"
      name="alarmDay"
      class="form-control"
      placeholder="select date"
      #alarmDate
    />
  </div>

  <div class="form-group">
    <label for="alarmTime">Choose time</label>
    <input
      type="time"
      id="alarmTime"
      name="alarmTime"
      class="form-control"
      #alarmTime
    />
  </div>
  <div class="form-group">
    <label for="alarmTime">Message</label>
    <textarea
      id="alarmMessage"
      name="alarmMessage"
      class="form-control"
      #alarmMessage
    ></textarea>
  </div>
  <button
    type="button"
    class="btn btn-dark btn-block"
    (click)="setAlarm(alarmTime.value, alarmDate.value, alarmMessage.value)"
  >
    <i class="fa fa-plus-circle mr-1"></i> Set Alarm
  </button>
</form>
<br />
<section>
  <div class="card-container">
    <div class="card" *ngFor="let alarm of alarmItems | async">
      <div>
        <h2 class="title">
          {{ alarm.message }}
        </h2>
        <p *ngIf="!editMode">
          {{ alarm.timestamp * 1000 | date: "HH:mm dd MMM yyyy" }}
        </p>
      </div>
      <div *ngIf="editMode">
        <textarea #editmessage placeholder="Please enter your alarm message">{{
          alarm.message
        }}</textarea
        ><br />
        <button
          type="submit"
          (click)="editAlarmSubmit(alarm, editmessage.value)"
        >
          Submit
        </button>
        <button type="reset" (click)="editButtonClick()">Cancel</button>
      </div>

      <div class="alarm-item__sidebutton">
        <button mat-mini-fab color="warn" (click)="editButtonClick()">
          <i class="fas fa-edit"></i>
        </button>
      </div>
      <div class="alarm-item__sidebutton">
        <button mat-mini-fab color="warn" (click)="deleteButtonClick(alarm)">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  </div>
</section>
