.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 12px #9e9e9e;
  -webkit-box-flex: 1;
  flex: 1;
  margin: 15px;
}

.title {
  margin: 5px;
}

.sub-title {
  margin: 5px;
}

.add-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
